.home-container {
  background-color: ;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.header-container {
  background-image: url(https://cdn.pixabay.com/photo/2016/10/12/19/54/homework-1735644__480.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.header-container h2 {
  margin-top: 150px;
}
.quiz-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #add8e6;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .quiz-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
