.nav-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-container {
}
.nav-container a {
  text-decoration: none;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}
